.app {
  background-image: linear-gradient(to bottom, $color-bg-1, $color-bg-2);
  // height: 90vh;
}
.app__card {
  background: url(../../images/leaves.jpg) no-repeat center;
  // min-width: 300px;
  max-height: 750px;
  padding: 38px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__reset {
  transform: translate(-105px);
  height: 30px;
  margin: 0 0 20px 45px;
  padding-left: 9px;
  margin-top: 5px;
  border: 1px solid $color-bg-2;
  border-radius: 15px;
  background-color: $gradient-1;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $font-text;
  color: $smaller-text;
  padding: 6px 12px 6px 8px;
  cursor: pointer;
  &:hover {
    background: $button-hover;
    color: $color-bg-2;
  }
  &:focus {
      outline: 0 none;
    }

  &--icon {
    padding: 0 5px 0 2px;
  }
}

.card__preview {
  width: fit-content;
  min-width: 260px;
  height: fit-content;
  border-radius: 2px;
  background-color: $color-bg-2;
  text-align: center;
  padding: 21px 0 12px;
  box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0 $blur;

  &--photo {
    width: 100%;
    height: 250px;
    background: url(./assets/images/animals.gif) no-repeat center;
    background-size: cover;
  }

  &--text-name {
    padding: 0 14px 4px 20px;
    line-height: 1.11;
    font-size: 18px;
    text-align: left;
    font-family: $font-card;
    font-weight: bold;
  }
  &--text-job {
    padding: 0 14px 0 20px;
    margin-bottom: 10px;
    color: $smaller-text;
    line-height: 1.25;
    font-size: 16px;
    text-align: left;
    font-family: $font-card;
  }
}
.pale_icon {
 opacity: 0.2; 
}

.js-palette1 {
  border-left: 5px solid $palette-1-2;
  color: $palette-1-1;
}
.js-palette2 {
  border-left: 5px solid $palette-2-2;
  color: $palette-2-1;
}
.js-palette3 {
  border-left: 5px solid $palette-3-2;
  color: $palette-3-1;
}

.card__socialmedia {
  padding: 10px 0 0 20px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  min-height: 35px;

  &--item {
    width: 32px;
    height: 32px;
    border-radius: 15px;
    margin-right: 10px;
    padding: 6px;
    :hover {
    transform: scale(1.3);
    }
  }
}
.hidden_icon {
  display: none;
}

//icon styles js palette1
.js-icon-palette1-color1 {
  color: $palette-1-1;
}
.js-icon-palette1-color2 {
  color: $palette-1-2;
}
.js-icon-palette1-color3 {
  color: $palette-1-3;
}
//border styles js palette1
.js-border-palette1-color1 {
  border: 2px solid $palette-1-1;
}
.js-border-palette1-color2 {
  border: 2px solid $palette-1-2;
}
.js-border-palette1-color3 {
  border: 2px solid $palette-1-3;
}
//icon styles js palette2
.js-icon-palette2-color1 {
  color: $palette-2-1;
}
.js-icon-palette2-color2 {
  color: $palette-2-2;
}
.js-icon-palette2-color3 {
  color: $palette-2-3;
}
//border styles js palette
.js-border-palette2-color1 {
  border: 2px solid $palette-2-1;
}
.js-border-palette2-color2 {
  border: 2px solid $palette-2-2;
}
.js-border-palette2-color3 {
  border: 2px solid $palette-2-3;
}
//icon styles js palette3
.js-icon-palette3-color1 {
  color: $palette-3-1;
}
.js-icon-palette3-color2 {
  color: $palette-3-2;
}
.js-icon-palette3-color3 {
  color: $palette-3-3;
}
//border styles js palette3
.js-border-palette3-color1 {
  border: 2px solid $palette-3-1;
}
.js-border-palette3-color2 {
  border: 2px solid $palette-3-2;
}
.js-border-palette3-color3 {
  border: 2px solid $palette-3-3;
}

@include tablet {
  .app {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    &__custom {
      // grid-column: 1;
      // grid-row: 1;
      min-height: 80vh;
      margin: 23px 0px 21px 40px;
      width: 400px;
    }
    &__card {
      margin: 23px 40px 21px 0;
      border-radius: 6px;
      // grid-column: 2;
      // grid-row: span 2;
      min-height: 80vh;
      width: 550px;
    }
  }
}

@include desktop {
  .app {

    &__custom {
      // grid-column: 1;
      // grid-row: 1;
      min-height: 80vh;
      margin: 23px 0px 21px 40px;
      width: 600px;
    }
    &__card {
      margin: 23px 40px 21px 0;
      border-radius: 6px;
      // grid-column: 2;
      // grid-row: span 2;
      min-height: 80vh;
      width: 900px;
    }
  }
}

