@import "../core/_core.scss";

.footer {
  background: $color-bg-2;
  box-sizing: border-box;
  width: 100%;
  border-top: solid 1px $border-lines;

  &__container {
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px 0;
    align-content: center;

    @include tablet {
      height: 60px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 10px 0;
    }
  }
  &__copy {
    font-size: 14px;
    font-family: $font-text;
    text-align: center;
    color: $footer-text;
    line-height: 1.43;
    opacity: 0.5;

    @include tablet {
      margin-left: 41px;
    }
  }

  &__logo {
    width: 103px;
    margin-top: 10px;

    @include tablet {
      width: 90px;
      margin-right: 40px;
      margin-top: 0;
    }
  }
}
