.main {
  background: url(../images/leaves.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border: 1px #d8d8d8;
  // padding: 95px 26px 110px;
  height: 100vh;
  
  // @include tablet {
  // padding-bottom: 59px; 
  // padding: 95px 26px 110px;
  // }

    @include superdesktop {
      justify-content: center;
    }

  &__logo {
    width: 250px;
    height: 63px;

    @include tablet {
      width: 419px;
      height: 105px;
      margin-top: 350px;
    }

    @include superdesktop {
      width: 509px;
      height: 152px;
    }
  }

  &__title {
    color: $icons;
    font-family: $font-title;
    font-size: 19.2px;
    font-weight: 900;
    text-align: center;
    margin-top: 35.4px;

    @include tablet {
      font-size: 24px;
      margin-top: 31px;
    }
    @include superdesktop {
      font-size: 32px;
    }
  }

  &__text {
    color: $main-text;
    font-family: $font-text;
    text-align: center;
    font-size: 12.8px;

    @include tablet {
      font-size: 16px;
    }
    @include superdesktop {
      font-size: 24px;
    }

    &--span {
      display: block;
    }
  }

  &__section {
    border: solid rgba(225, 115, 52, 0.21) 1.6px;
    background-color: rgba(255, 255, 255, 0.657);
    border-radius: 4px;
    width: 268px;
    height: 73.8px;
    margin-top: 17.8px;
    padding: 15px 20px 17.8px;

    @include tablet {
      width: 330px;
      height: 86px;
      margin-top: 27px;
      border-radius: 5px;
    }

    @include superdesktop {
      width: 360px;
      height: 106px;
      padding-top: 20px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $smaller-text;
      font-family: $font-text;
      font-size: 12.8px;
      font-weight: normal;
      width: 60px;
      height: 48.8px;
      text-align: center;

      @include tablet {
        width: 75px;
        height: 61px;
      }

      @include superdesktop {
        width: 115px;
      }

      &-icon {
        color: $icons;
        font-size: 1.4rem;

          @include superdesktop {
          font-size: 2.0rem;
        }
      }

      &-text {
        color: $smaller-text;
        font-family: $font-text;
        font-size: 12.8px;

        @include tablet {
          font-size: 16px;
          font-weight: 400;
          justify-content: space-around;
        }

        @include superdesktop {
          font-size: 20px;
        }
      }
    }
  }

  &__button {
    background-color: $button-1;
    text-decoration: none;
    color: white;
    font-family: $font-text;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    width: 129px;
    height: 42px;
    margin: 38.6px 0 40px;
    // display: flex;
    padding: 10px 20px;
    border-radius: 21px;
    &:hover {
      background: $button-hover;
      transform: scale(1.05);
    }

    @include tablet {
      margin: 59px 0 59px;
    }

    @include superdesktop {
      font-size: 20px;
      width: 150px;
      height: 46px;
      
    }
  }
}
