<fieldset class="fill js-collapsable-container">
  <div class="fill__header js-collapsable-header">
    <h2 class="fill__header--title">
      <i class="far fa-keyboard fill__header--icon"></i>
      Rellena
    </h2>
    <img class="up-icon" src="./assets/images/monstera.png" />
  </div>
  <div class="fill__form hidden__container">
    <h6 class="fill__form--notice">Todos los campos son obligatorios</h6>
    <label class="fill__form--label userName" for="name">Nombre completo</label>
    <input
      class="fill__form--input js-input-name js-input-text js-form"
      type="text"
      id="name"
      name="name"
      placeholder="Ej: Tree Huggers"
      required
    />
    <label class="fill__form--label" for="job">Puesto</label>
    <input
      class="fill__form--input js-input-job js-input-text js-form"
      type="text"
      id="job"
      name="job"
      placeholder="Ej: Front-end developers"
      required
    />
    <label class="fill__form--label" for="image">Imagen de perfil</label>
    <div class="fill__form--image">
      <label class="fill__form--image--button js__profile-trigger">
        Añadir imagen
      </label>
      <input
        type="file"
        name=""
        id=""
        class="fill__form--image--input js__profile-upload-btn"
      />
      <div class="fill__form--image--preview js__profile-preview js-form"></div>
    </div>
    <label class="fill__form--label" for="email">Email</label>
    <input
      class="fill__form--input js-input-email js-input-text js-form"
      type="email"
      id="email"
      name="email"
      placeholder="Ej: treehuggers@gmail.com"
      required
    />
    <label class="fill__form--label" for="phone">Teléfono</label>
    <input
      class="fill__form--input js-input-phone js-input-text js-form"
      type="tel"
      id="phone"
      name="phone"
      placeholder="Ej: 123456789"
      required
    />
    <label class="fill__form--label" for="linkedin">Linkedin</label>
    <input
      class="fill__form--input js-input-linkedin js-input-text js-form"
      type="text"
      id="linkedin"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/treehuggers"
      required
    />
    <label class="fill__form--label" for="github">Github</label>
    <input
      class="fill__form--input js-input-github js-input-text js-form"
      type="text"
      id="github"
      name="github"
      placeholder="Ej: @treeHuggers"
      required
    />
  </div>
</fieldset>
