.design {
  padding: 27px 20px 0;
  font-family: $font-text;
  text-transform: uppercase;
  color: $smaller-text;
  @include tablet {
    // width: 233px;
    padding: 27px 30px 0 40px;
  }
  @include desktop {
    // width: 40vw;
}
  &__header {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
     :hover {
        transform: scale(1.04);
        color: $button-hover;
    }
    &--text {
      font-weight: 600;
      font-size: 18px;
      display: inline;
      &-icon {
        color: $icons;
        padding-right: 10px;
      }
    }
  }
  &__colors {
    display: flex;
    padding-top: 22px;

    &--subtitle {
      padding-left: 19px;
      font-size: 14px;
      width: 50%;
      @include tablet {
        padding-left: 0;
      }
    }
    &--palettes {
      width: 50%;
      display: block;
    }
  }
}
.color-box {
  width: 30px;
  height: 25px;
  color: #00ff0000;
  display: inline-block;
  margin-right: -5px;
}
.palette {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.palette1 {
  &__color1 {
    background-color: $palette-1-1;
    margin-left: 10px;
  }
  &__color2 {
    background-color: $palette-1-2;
  }
  &__color3 {
    background-color: $palette-1-3;
  }
}
.palette2 {
  &__color1 {
    background-color: $palette-2-1;
    margin-left: 10px;
  }
  &__color2 {
    background-color: $palette-2-2;
  }
  &__color3 {
    background-color: $palette-2-3;
  }
}
.palette3 {
  &__color1 {
    background-color: $palette-3-1;
    margin-left: 10px;
  }
  &__color2 {
    background-color: $palette-3-2;
  }
  &__color3 {
    background-color: $palette-3-3;
  }
}
.cursor {
  cursor: pointer;
}
