.fill {
  padding: 0 19px 0px 20px;
  border: none;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.43;

  @include tablet {
    padding-left: 40px;
    padding-right: 30px;
    // width: 50vw;
  }

  @include desktop {
    // width: 40vw;
  }

  &__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $smaller-text;
    border-top: $border-lines solid 1px;
    padding-top: 10px;
    cursor: pointer;

    :hover {
      transform: scale(1.04);
      color: $button-hover;
    }

    &--icon {
      color: $icons;
      padding-right: 5px;
    }

    &--title {
      text-transform: uppercase;
      font-size: 18px;
      font-family: $font-text;
      font-weight: 600;
    }

    &--arrow {
      font-size: 18px;
    }

    &--title {
      text-transform: uppercase;
      font-size: 18px;
      font-family: $font-text;
      font-weight: 600;
    }

    &--arrow {
      font-size: 18px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    border-bottom: $border-lines solid 1px;
    color: $main-text;
    // padding-top: 15px;

    &--notice {
      padding-bottom: 20px;
      color: $footer-text;
    }

    &--label {
      margin-top: -10px;
      margin-bottom: 7px;
    }

    &--input {
      height: 30px;
      border: solid 1px $border;
      padding-left: 3px;
      margin-bottom: 30px;

      @include tablet {
        width: 100%;
      }
    }

    ::placeholder {
      font-size: 14px;
      color: $placeholder;
      font-family: $font-text;
    }

    :focus {
      outline: 0 none;
      border: 3px solid #a2deaf;
    }

    &--image {
      display: flex;
      margin-bottom: 30px;

      &--button {
        width: 140px;
        height: 30px;
        color: $color-bg-2;
        background: $icons;
        border-radius: 3px;
        border: none;
        font-size: 14px;
        text-align: center;
        padding-top: 3px;
        cursor: pointer;
        &:hover{
          background: $button-hover;
        }
      }

      &--input {
        display: none;
      }

      &--preview {
        width: 30px;
        height: 30px;
        background-size: cover;
        margin-left: 20px;
        border: solid 1px #a2deaf;
      }
    }
  }
}