.footer {
  background:$color-bg-2;
  border-top: solid 1px $border-lines;
  height: 72px;
  // z-index: -1;

  @include tablet {
    height: 22px;
  }

  &__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
  align-content: center;
  // position: relative;
  // left: 0;
  // bottom: 0;
  
  // box-sizing: content-box;
  max-width: 1500px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    // height: 60px;
    margin: 0 auto;
  }
}
  &__copy {
    font-size: 14px;
    font-family: $font-text;
    text-align: center;
    color: $footer-text;
    // margin-top: 18px;
    line-height: 1.43;
    opacity: 0.5;

    @include tablet {
      margin-left: 41px;
    }
  }

  &__logo {
    width: 103px;
    // height: 40px;
    margin-top: 10px;

      @include tablet {
        width: 90px;
        margin-right: 40px;
        margin-top: 0;
      }
  }
}
