@import '../core/core';

.card__reset {
  transform: translate(-105px);
  height: 30px;
  margin: 0 0 20px 45px;
  padding-left: 9px;
  margin-top: 5px;
  border: 1px solid $color-bg-2;
  border-radius: 15px;
  background-color: $gradient-1;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $font-text;
  color: $smaller-text;
  padding: 6px 12px 6px 8px;
  cursor: pointer;
  &:hover {
    background: $button-hover;
    color: $color-bg-2;
  }
  &:focus {
    outline: 0 none;
  }

  &--icon {
    padding: 0 5px 0 2px;
  }
}
