<section class="app__card">
  <button class="card__reset js-reset" type="reset">
    <i class="far fa-trash-alt card__reset--icon"></i>
    Reset
  </button>
  <div class="card__preview js-card">
    <div class="card__preview--text js-palette1 js-palette resetColorPalette">
      <h3 class="card__preview--text-name js-preview-name previewCardName">
        Nombre Completo
      </h3>
      <h4 class="card__preview--text-job js-preview-job">Puesto</h4>
    </div>
    <div class="card__preview--photo js__profile-image"></div>
    <nav class="card__preview--nav">
      <ul class="card__socialmedia">
        <li class="card__socialmedia--item js-border-palette1-color3 js-phone pale__icon">
          <a target="_blank" href="" alt="mobile" class="js-preview-phone">
            <i
              class="card__socialmedia--link fas fa-mobile-alt js-icon-palette1-color2"
            ></i>
          </a>
        </li>
        <li class="card__socialmedia--item js-border-palette1-color3 opacity js-email">
          <a
            target="_blank"
            href="mailto:"
            alt="email"
            class="js-preview-email"
          >
            <i
              class="card__socialmedia--link far fa-envelope js-icon-palette1-color2"
            ></i>
          </a>
        </li>
        <li class="card__socialmedia--item js-border-palette1-color3 opacity js-linkedin pale__icon">
          <a target="_blank" href="" alt="linkedin" class="js-preview-linkedin">
            <i
              class="card__socialmedia--link fab fa-linkedin-in js-icon-palette1-color2"
            ></i>
          </a>
        </li>
        <li class="card__socialmedia--item js-border-palette1-color3 opacity js-github pale__icon">
          <a target="_blank" href="" alt="github" class="js-preview-github">
            <i
              class="card__socialmedia--link fab fa-github-alt js-icon-palette1-color2"
            ></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
