<fieldset class="design js-collapsable-container collapsable--close">
  <div class="design__header js-collapsable-header">
    <h2 class="design__header--text">
      <i class="design__header--text-icon far fa-object-ungroup"></i>Diseña
    </h2>
    <img class="up-icon" src="./assets/images/monstera.png" />
  </div>
  <div class="design__colors hidden__container">
    <h5 class="design__colors--subtitle">Colores</h5>
    <div class="design__colors--palettes">
      <div class="palette palette1">
        <label class="cursor" for="palette1">
          <input
            id="palette1"
            type="radio"
            value="1"
            name="palette"
            class="js-palette cursor"
            checked
          />
          <div class="palette1__color1 color-box">1</div>
          <div class="palette1__color2 color-box">2</div>
          <div class="palette1__color3 color-box">3</div>
        </label>
      </div>
      <div class="palette palette2">
        <label class="cursor" for="palette2">
          <input
            id="palette2"
            type="radio"
            value="2"
            name="palette"
            class="js-palette cursor"
          />
          <span class="palette2__color1 color-box">1</span>
          <span class="palette2__color2 color-box">2</span>
          <span class="palette2__color3 color-box">3</span>
        </label>
      </div>
      <div class="palette palette3">
        <label class="cursor" for="palette3">
          <input
            id="palette3"
            type="radio"
            value="3"
            name="palette"
            class="js-palette cursor"
          />
          <span class="palette3__color1 color-box">1</span>
          <span class="palette3__color2 color-box">2</span>
          <span class="palette3__color3 color-box">3</span>
        </label>
      </div>
    </div>
  </div>
</fieldset>
