<main class="main">
  <img
    class="main__logo"
    src="./assets/images/logo-treehuggers.png"
    alt="Logo Equipo"
  />
  <h1 class="main__title">Crea tu tarjeta de visita</h1>
  <p class="main__text">
    <span class="main__text--span"
      >Crea mejores contactos profesionales de
    </span>
    <span class="main__text--span"> forma fácil y cómoda</span>
  </p>
  <section class="main__section">
    <ul class="main__list">
      <li class="main__list--item">
        <i
          class="far fa-object-ungroup main__list--item-icon"
          aria-label="Diseña"
        ></i>
        <h5 class="main__list--item-text">Diseña</h5>
      </li>
      <li class="main__list--item">
        <i class="far fa-keyboard main__list--item-icon"></i>
        <h5 class="main__list--item-text">Rellena</h5>
      </li>
      <li class="main__list--item">
        <i class="fas fa-share-alt main__list--item-icon"></i>
        <h5 class="main__list--item-text">Comparte</h5>
      </li>
    </ul>
  </section>
  <a class="main__button" href="./app.html" title="Ir a crear tu tarjeta"
    >Comenzar</a
  >
</main>
